


/*<style type="text/css">*/
/* Line above for use inside the <head> in an html file*/
html { height: 100% ; width: 100%; }
body { height: 100%;  width:100%;
    margin: 0; padding: 0 ;
    zoom: 100%;
    background: rgb(0,0,66);
    /*opacity: 0.3;*/
    /*background-image: url('./Pictures/Background/blueBackground.jpg');*/
    overflow: hidden;}

#container {
    width:1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

#map_canvas {
    position: absolute;
    top: -2900px;   /*-2900px;*/
    left: -2250px;     /**/
    width:5800px;
    height:4591px;
    z-index:1;
    transition: transform 1s cubic-bezier(0, 0.5, 0.5, 1)
    transform: scale(1) ; /* translateY(+2300px) */
    /* For making the draggable work in IE11: */
    -ms-touch-action:none !important;

}

.invisible {visibility:hidden}

#zoommable_map_canvas{
    border:3px solid rgb(30,255,125);
    transition: scale 0.5 ease;
}

#phoneLayer,
#frameLayer
{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    right:0;
    z-index:1;}


#mapConstellationsContainer{
    position: absolute;    top:0;    left:0;
    z-index: 1}

.mapImages {
    position: absolute ;   top:0;    left:0;
    transition: opacity 1s ease;
    opacity: 0;
    visibility: hidden;
}

.transConstellations{
    opacity: 0;
    transition: opacity 1s ease;
    z-index:10;}

.constTitles {
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 10;
}


#frameLayer{
    z-index:20;
}

#phoneLayer{
    z-index:30;
    pointer-events: none;
}

.clickMe {pointer-events: none;}

#UpperPartBlackFrameLayer {
    position: absolute;
    top: 0 ;
    right: 0;
    width: 1920px ; height: 872px;
    opacity:0.5;
}
#LowerPartBlackFrameLayer {
    position: absolute;
    bottom: 0;
    right:0;
    width: 1920px ; height: 208px;
}
/*
#leftPhoneLayer    {width: 739px ; height: 1080px ; position: absolute; top: 0 ;left:0 ;}
#midPhoneLayer     {width: 459px ; height: 1080px ; position: absolute; top: 0 ; left: 739px }
#rightPhoneLayer   {width: 722px ; height: 1080px ; position: absolute; top: 0 ; right:0}

#midPhoneLayerUp    {width: 459px ; height: 203px ; position: absolute; top: 0 ; }
#midPhoneLayerMid   {width: 459px ; height: 621px ; position: absolute; top: 203px }
#midPhoneLayerDown  {width: 459px ; height: 256px ; position: absolute; bottom: 0 ;}

#midPhoneLayerMidLeft           {width: 30px ; height: 621px ; position: absolute; top: 0 ; left:0;}
#midPhoneLayerMidScrollTransparent{width: 400px ; height: 621px ; position: absolute; top: 0 ; left:30px; z-index:80; pointer-events: none; }
#midPhoneLayerMidScrollContainer{width: 400px ; height: 621px ; position: absolute; top: 0 ; left:30px; z-index:40; }
#midPhoneLayerMidRight          {width: 29px ; height: 621px ; position: absolute; top: 0 ; right:0}
*/



#iphoneFrame{position: absolute; top: 0 ;left:743px ;width: 443px ; height: 1080px ;}
#iphoneContentTransparent{position: absolute; top: 204px ;left:770px ;width: 387px ; height: 681px ;pointer-events: none;z-index:80;}
#iphoneContent{position: absolute; top: 204px ;left:770px ;width: 387px ; height: 681px ; overflow: hidden; z-index:40;}
#iphoneContentContainer{position: absolute; top: 204px ;left:770px ;width: 387px ; height: 681px ;}
#iphoneScrollContainer{ position: absolute;
                        top: 0 ;
                        left:0 ;
                        width: 387px ;
                        /* For making the draggable work in IE11: */
                        -ms-touch-action:none !important;
    border:3px solid rgb(30,255,125);}

.scrolls{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    opacity: 0;
    transition: "opacity" 0.2s ease;
}

#beginningScreen {
    position: absolute;
    top: 204px;
    left: 770px;
    width: 387px;
    z-index : 95;
}

#menu { position: absolute;
        top: 0 ;
        left: 0;
        width: 386px ;
        height:650px ;
        z-index:45;
        pointer-events: none;

        overflow: hidden;} /*border: 2px solid #ffffff; */

.menuButtons,.menuLeftButtons {
    position: absolute;
    top: 24px;
    pointer-events: auto;
    transition: top 1s ease-out;
    z-index: 50;
    /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]*/
    /*ease,    linear,    ease-in,,    ease-out,    ease-in-out,    step-start,    step-end*/
}

.menuLeftButtons {
    left: 17px;
   /* border: 1px solid rgb(0,255,125); */
}
/*
#menuLeftButtonFirst    {position: absolute;  }
#menuLeftButtonSecond   {position: absolute;  }
#menuLeftButtonThird    {position: absolute;  }
*/
#menuMiddleButton       {position: absolute; left: 50% ; width: 64px; margin-left: -32px;}
#menuRightButton        {position: absolute; right:17px ;  z-index: 50;}
#menuInfoButton         {   position: absolute; top: 50% ; margin-top: -20px; right:17px; visibility: hidden; pointer-events: none; }

.menuLeftButtons:active    {
    /*background-color: #000000;*/
    background-image: url('./Pictures/newiconsthreestates/greenGlow.png');
    background-repeat: no-repeat;
    transform: scale(0.9);

} /* border:3px solid rgb(30,255,125) */






/*overflow:auto;  for scrollcontainer for auto scrolling*/


/*</style>*/
